<div class="gallery">

  <div class="stack"
    (touchstart)="onTouchStart($event)"
    (touchend)="onTouchEnd($event)"
  >
    <div
      *ngFor="let img of stackImages; let i = index"
      class="card"
      [class.is-active]="i === active"
      [attr.data-offset]="circularOffset(i)"
      (click)="goTo(i)"
    >
      <img [src]="img" alt="" />
    </div>

    <div class="nav nav--left"  *ngIf="canNavigate" (click)="prev()"></div>
    <div class="nav nav--right" *ngIf="canNavigate" (click)="next()"></div>
  </div>

  <!-- one dot per real image -->
  <div class="dots">
    <span
      *ngFor="let img of images; let i = index"
      class="dot"
      [class.active]="i === active"
      (click)="goTo(i)"
    ></span>
  </div>

</div>
