<div class="app">
    <img src="assets/images/bg.jpg" class="bg" alt="">
    <img src="assets/images/me.png" class="me" alt="">
    <div class="container">
        <div class="section-data">
            <div class="main-title">
                FPV Drone Pilot
            </div>
            <div class="main-details">
                <b>Contact information</b>
            </div>
            <div class="main-details">
                <i class="fa fa-envelope"></i>    johnfabiomb&#64;gmail.com
            </div>
            <div class="main-details">
                <i class="fa fa-phone"></i> +356 99381350
            </div>
        </div>
        <div class="ig-section">
            <iframe width="100%" height="auto" src="https://www.instagram.com/johnfabiomb/embed" frameborder="0"></iframe>
        </div>
    </div>
</div>