<div class="map-modal">
  <div class="header">
    <div class="tip">Google Maps link provided below ↓</div>
    <i (click)="onNoClick()" class="fa fa-times pull-right"></i>
  </div>
  <div class="body">
    <div class="title">
      {{ data.title }}
    </div>
    <div class="section-1">
      <div class="head">
        <div class="img">
          <img [src]="data.img | safe" width="100%" alt="">
        </div>
      </div>
      <div [innerHTML]="data.description" class="description"></div>
    </div>
    <div *ngIf="data?.recommendedRoute" class="section-1">
      <div class="description recommendedRoute"><b>What's the best route to take?</b>
        Google Maps isn’t always accurate—you might hit restricted areas. Here’s the route I took.
      </div>
      <div class="head">
        <div class="img">
          <img ngOptimizedImage [src]="data.recommendedRoute | safe" width="100%" alt="">
        </div>
      </div>
    </div>
    <div *ngIf="data?.mapPoints?.length" class="section-1 mb-2">
      <div class="description recommendedRoute">
        <b>Recommended locations</b>
        <div *ngFor="let point of data.mapPoints; let i = index" style="margin-top: 10px;" class="actions">
          <b>{{ i + 1 }}. {{ point.label }}</b>
          <div>{{ point.description }}</div>
          <div (click)="openPointOnMap(point)" class="button blue-btn">
            Open this point on Google Maps
          </div>
        </div>
      </div>
    </div>
    <div class="text-center w-100">
      <span>--------</span>
    </div>
    <div class="actions">
      <div *ngIf="!data?.mapPoints?.length" (click)="googleMaps()" class="button blue-btn">Open on <b>Google Maps</b> </div>
      <div (click)="explore()" class="button">Explore <b>Malta</b> <i class="fa fa-map"></i></div>
    </div>

    <div class="mb-4">
      <h4>Explore Another Locations</h4>
      <div class="recommendation-section">
        <div *ngFor="let item of recommendedLocations" class="location">
          <img (click)="clickon(item)" [src]="item.img" alt="">
        </div>
      </div>

    </div>
    <div #content class="section-2">
      <iframe #frame (load)="loaded()" src="https://www.instagram.com/johnfabiomb/embed" width="100%" height="auto"
        frameborder="0" scrolling="no" allowtransparency="true">
      </iframe>
    </div>
  </div>

</div>