<div class="app">
  <div class="header">
    <div class="group">
      <div class="title">Exploring Malta <div class="icon">
        </div>
        <img src="/assets/images/mt.png" alt="" srcset="">
      </div>
      <div class="text">FROM ANOTHER POINT OF VIEW</div>
    </div>
  </div>
  <app-map *ngIf="map"></app-map>
  <a href="https://www.instagram.com/johnfabiomb/">
    <div class="profile">
      <div class="pb">
        Powered by
      </div>
      <img class="profile-picture" src="/assets/images/profile.jpeg" width="auto" height="100%" alt="" srcset="">
      <div class="text">
        <span class="name">John Montaño</span><br>
        <span class="title">FPV Drone Pilot</span><br>
      </div>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>
  </a>